<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <script src="/js/axios.min.js"></script>
    

</head>

<body>
    <div class="container-fluid">
        <div class="col">
            <div class="row h-75">
                <video controls id="videosrc" src="" class="centerBlock" type="video/x-matroska"></video>
            </div>
            <div id="controls" class="row align-items-center">
                <div class="col-sm-4"><button id='back' class="centerBlock">back</button></div>
                <div class="col-sm-4">
                    <button id="startParty" class="centerBlock btn btn-outline-success">Click here to join the
                        party!!</button>
                    <p id="track-info" style="display: none;" class="centerBlock btn-outline-success">Now playing <span id="track-name">omg</span></p>
                </div>
                <div class="col-sm-4"><button id="next" class="centerBlock">next</button></div>
            </div>
        </div>
    </div>

    <style>
        #controls {
            margin-top: 30px;
        }

        .centerBlock {
            display: table;
            margin: auto;
        }

        @media screen and (max-width:800px) {
            #videosrc {
                width: 100%;
            }
        }

        body {
            background-color: black;
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
    </style>
    <script src="/js/host.js"></script>
</body>

</html>